@page
@model Game.Pages.Location
@{
    ViewData["Title"] =  $"{Model.lModel.Name} - Escape The Fortress";
    bool itemsPresent = Model.lModel.Items.Count > 0 && !Model.lModel.Items.All(item => Model.pModel.PickedUpItems.Any(pickedItem => pickedItem == item.ID));
    bool enemyPresent = Model.lModel.Enemy != null && !Model.pModel.CombatState.CleanedLocations.Contains(Model.lModel.LocationID);
    bool objectPresent = Model.lModel.Enemy != null || itemsPresent || Model.lModel.PuzzleKey != null || Model.pModel.CurrentLocationId == Model.WINNING_LOCATION_ID;
    bool ctrlsPresent = itemsPresent || enemyPresent;


}

<main style="background-image: url(Assets/LocationsBg/@Model.lModel.Background);">
    <section class="cont">
        <h1 class="cont__h">@Model.lModel.Name #@Model.pModel.CurrentLocationId</h1>
        <p class="cont__p">@Model.lModel.Description</p>    
    </section>
    <section class="obj">
            <div class="pack" id="pack">
                <h2 class="pack__h">Tlumok</h2>
                <div class="pack-cont">
                    @if (Model.pModel.Items.Count > 0)
                    {
                        <form method="post" class="pack-inv">
                            @foreach (var item in Model.pModel.Items)
                            {
                                <div class="pack-inv-item">
                                    <img class="pack-inv-item__img" src="Assets/ItemIcons/@item.Icon" alt="@item.Name"/>
                                    <div class="pack-inv-item__des">
                                        <h3>@item.Name</h3>
                                        <p>@item.Description</p>
                                        @if (item.Usable)
                                        {
                                            <button type="submit" value="@item.ID" name="ItemId" class="btn" asp-page-handler="UseItem">Použít</button>
                                        } 
                                    </div>
                                </div>
                            }
                        </form>
                    }
                    else
                    {
                        <p>Zøejmì je tlumok dìravý, páè tu nic není</p>
                    }
                    
                    <p class="pack__h">Kam dál? - Podlaží #@Model.lModel.Stage</p>   
                @if (!Model.pModel.CombatState.IsCombatActive)
                {
                    <menu class="pack__map">
                        @foreach (var v in Model.lModel.Connections)
                        {
                            <li>
                                <a asp-page="Location" asp-route-id="@v.ToLocationID">
                                    @v.Description
                                    @if (v.Locked && !Model.pModel.SolvedPuzzleLocations.Contains(v.FromLocationID))
                                    {
                                        <span class="closed">ZAMÈENO</span>
                                    }
                                    else if(v.Locked)
                                    {
                                        <span class="open">ODEMÈENO</span>
                                    }

                                    @if (v.RequiredItem != null)
                                        {
                                            if (Model.pModel.Items.Count > 0 && Model.pModel.Items.Count(a => a.ID == v.RequiredItem.ID) > 0)
                                            {
                                                <span>Díky <span class="lw">@v.RequiredItem.Name</span> mùžeš.</span>
                                            }
                                            else
                                            {
                                                <span style="color: red;">@v.RequiredItem.Name je potøeba pro prùchod.</span>
                                            }
                            
                                        }
                                </a>    
                            </li>
                        }
                    </menu>
                }
                else
                {
                    <p> Abys mohl pokraèovat ve svém dobrodružství, tak musíš porazit <span class="lw">@Model.lModel.Enemy.Name</span>.</p>
                }
            </div>
                
                <button class="pack__btn" rel="nofollow" title="Otevírání inventáøe" id="packBtn">
                </button>    
        </div>
        @if (objectPresent)
        {
            @await Html.PartialAsync("Objs", Model)
        }
    </section>
    <section class="cont cont--player">
        @if (ctrlsPresent)
        {
            @await Html.PartialAsync("controls", Model)
        }
        <span>@Model.pModel.Hp</span>
        <span>@Model.pModel.Energy</span>
        <span>@Model.pModel.Resistance</span>
        <span>@Model.pModel.Damage</span>
    </section>
</main>
<script type="text/javascript" src="js/location.js"></script>