@page
@using Game.Services;
@model Game.Pages.Location
@{
    ViewData["Title"] =  $"{Model.lModel.Name} - Escape The Fortress";
}

<main class="location" style="background-image: url(Assets/LocationsBg/@Model.lModel.Background);">
    <section class="cont">
        <h1 class="cont__h">@Model.lModel.Name #@Model.pModel.CurrentLocationId</h1>
        <p>@Model.lModel.Description</p>    
    </section>
    <section class="location__obj">
        @if (Model.lModel.Enemy != null)
        {
            @await Html.PartialAsync("Combat", Model)
        }
        @if (Model.lModel.PuzzleKey != null)
        {
            @await Html.PartialAsync("PuzzleForm", Model)
        }
        @if (Model.lModel.Items.Count > 0 && !Model.pModel.PickedUpItems.Any(pickedItem => Model.lModel.Items.Any(item => item.ID == pickedItem)))
        {
            @await Html.PartialAsync("Items", Model)
        }    
    </section>
    <section class="cont cont--panel">
        @if (Model.lModel.Items.Count > 0 && !Model.pModel.PickedUpItems.Any(pickedItem => Model.lModel.Items.Any(item => item.ID == pickedItem)))
        {
            @await Html.PartialAsync("ItemsBtns", Model)
        }
        @if (Model.lModel.Enemy != null && !Model.pModel.CombatState.CleanedLocations.Contains(Model.lModel.LocationID))
        {
            @await Html.PartialAsync("CombatBtns", Model)
        }
        <span>@Model.pModel.Hp</span>
        <span>@Model.pModel.Energy</span>
        <span>@Model.pModel.Resistance</span>
        <span>@Model.pModel.Damage</span>
    </section>
</main>
<script src="/_framework/aspnetcore-browser-refresh.js"></script>

<p>Players inventory: </p>
@if (Model.pModel.Items != null)
{
 <ul>
     @foreach (var item in Model.pModel.Items)
     {
         <li>
             <span>@item.Name - @item.Description</span>
             @if (item.Usable)
             {
                 <form method="post">
                     <input hidden name="ItemID" value="@item.ID" />
                     <button type="submit" asp-page-handler="UseItem">Use</button>
                 </form>
             }
         </li>
     }
 </ul>
}

 <section class="location__signpost">
    @foreach (var v in Model.lModel.Connections)
    {
        
            <p>@v.Description <a asp-page="Location" asp-route-id="@v.ToLocationID">-></a>
                @if (v.Locked)
                {
                    <span style="color: red;">LOCKED</span>
                }
                @if (v.RequiredItem != null)
                {
                    if (Model.pModel.Items != null && Model.pModel.Items.Count(a => a.ID == v.RequiredItem.ID) > 0)
                    {
                        <span>@v.RequiredItem.Name is required (you have it)</span>
                    }
                    else
                    {
                        <span style="color: red;">@v.RequiredItem.Name is required</span>
                    }

                }
            </p>
       
    }
    </section>

