@page
@model Game.Pages.Location
@{
    ViewData["Title"] =  $"{Model.lModel.Name} - Escape The Fortress";
}

<main style="background-image: url(Assets/LocationsBg/@Model.lModel.Background);">
    <section class="cont">
        <h1 class="cont__h">@Model.lModel.Name #@Model.pModel.CurrentLocationId</h1>
        <p class="cont__p">@Model.lModel.Description</p>    
    </section>
    <section class="obj">
        <div class="pack" id="pack">
                <h2>Tlumok</h2>
                @if (Model.pModel.Items != null)
                {
                    <form method="post" class="pack__inv">
                        @foreach (var item in Model.pModel.Items)
                        {
                            <p>
                                <span>@item.Name - @item.Description</span>
                                @if (item.Usable)
                                {
                                    <button type="submit" value="@item.ID" name="ItemId" asp-page-handler="UseItem">Use</button>
                                }
                            </p>
                        }
                    </form>
                }
                else
                {
                    <p>Zøejmì je tlumok dìravý, páè tu nic není</p>
                }
    
                @foreach (var v in Model.lModel.Connections)
                {
    
                    <p>@v.Description
                        <a asp-page="Location" asp-route-id="@v.ToLocationID">
                            @if (v.Locked)
                            {
                                <span style="color: red;">LOCKED</span>
                            }
                            @if (v.RequiredItem != null)
                            {
                                if (Model.pModel.Items != null && Model.pModel.Items.Count(a => a.ID == v.RequiredItem.ID) > 0)
                                {
                                    <span>@v.RequiredItem.Name is required (you have it)</span>
                                }
                                else
                                {
                                    <span style="color: red;">@v.RequiredItem.Name is required</span>
                                }
    
                            }
                        </a>
                    </p>
    
                }    
            <button class="pack__btn" rel="nofollow" title="Otevírání inventáøe" id="packBtn">
            </button>
        </div>
        
        @if (Model.lModel.Enemy != null)
        {
            @await Html.PartialAsync("Combat", Model)
        }
        @if (Model.lModel.PuzzleKey != null)
        {
            @await Html.PartialAsync("PuzzleForm", Model)
        }
        @if (Model.lModel.Items.Count > 0 && !Model.lModel.Items.All(item => Model.pModel.PickedUpItems.Any(pickedItem => pickedItem == item.ID)))
        {
            @await Html.PartialAsync("Items", Model)
        }
        @if(Model.pModel.CurrentLocationId == Model.WINNING_LOCATION_ID)
        {
            <a asp-page="Endgame">Finish game</a>
        }
    </section>
    <section class="cont cont--player">
        @if (Model.lModel.Items.Count > 0 && !Model.lModel.Items.All(item => Model.pModel.PickedUpItems.Any(pickedItem => pickedItem == item.ID)))
        {
            <form class="cont__ctrls cont__ctrls--items" method="post">
                @await Html.PartialAsync("ItemsBtns", Model)
            </form>

        }

        @if (Model.lModel.Enemy != null && !Model.pModel.CombatState.CleanedLocations.Contains(Model.lModel.LocationID))
        {
            <form class="cont__ctrls cont__ctrls--items" method="post">
                @await Html.PartialAsync("CombatBtns", Model)
            </form>
        }
        <span>@Model.pModel.Hp</span>
        <span>@Model.pModel.Energy</span>
        <span>@Model.pModel.Resistance</span>
        <span>@Model.pModel.Damage</span>
    </section>
</main>
<script type="text/javascript" src="js/location.js"></script>