@model Game.Pages.Location


@if (Model.lModel.Enemy != null)
{
    <div class="enemy">
        @if (!Model.pModel.CombatState.CleanedLocations.Contains(Model.lModel.LocationID))
        {
            <div class="enemy__hp">
                @{
                    int widthPercentage = (int)Math.Floor(Model.pModel.CombatState.CurrentEnemy.Hp / (Model.lModel.Enemy.Hp / 100.0));
                }
                <span>@Model.pModel.CombatState.CurrentEnemy.Hp</span>
                <div style="width: @widthPercentage%"></div>            
            </div>
            <form method="post">
                <button asp-page-handler="Attack" title="Slabý útok" type="submit" name="attackType" value="WeakAttack">
                    <img class="enemy__img" src="Assets/Enemy/@Model.lModel.Enemy.Img" alt="@Model.lModel.Enemy.Name">        
                </button>
            </form>
            <h2 class="enemy__txt">@Model.lModel.Enemy.Name 
                <span>(@Model.pModel.CombatState.CurrentEnemy.NumberOfAttacks x @Model.pModel.CombatState.CurrentEnemy.Damage DMG)</span>
            </h2>                                                                                                 
        }
        else if(!Model.lModel.Items.Any())
        {
            <h2 class="enemy__txt">@Model.lModel.Enemy.Name byl poražen</h2>
        } 
    </div>
}
@if (!Model.pModel.CombatState.IsCombatActive)
{
    @if (Model.lModel.PuzzleKey == null || Model.pModel.SolvedPuzzleLocations.Contains(Model.lModel.LocationID))
    {
        @foreach (var i in Model.lModel.Items)
        {
            @if (!Model.pModel.PickedUpItems.Contains(i.ID))
            {
                <div class="item">
                    <h2 class="item__name">@i.Name</h2>
                    <form method="post">
                        <button name="ItemID" value="@i.ID" type="submit" asp-page-handler="PickUpItem">
                            <img class="item__img" src="Assets/ItemIcons/@i.Icon" alt="@i.Description">
                        </button>
                    </form>
                </div>
            }
        }
    }
    @if (Model.lModel.PuzzleKey != null && !Model.pModel.SolvedPuzzleLocations.Contains(Model.lModel.LocationID))
    {
        <form class="puzzle" method="post">
            <label for="answer">Ven s tím tajemstvím!</label>
            <input type="text" id="answer" name="Answer" required />
            <button asp-page-handler="GuessPuzzle" type="submit">Potvrdit</button>
            @if (Model.ShowWrongPuzzleGuessMsg)
            {
                <label>Au! Tohle asi nebyla správná odpověď</label>
            }
        </form>
    }
    else
    {
        @if (Model.lModel.PuzzleKey != null)
        {
            <p class="puzzle-ans">Povedlo se ti zjistit tajemství.</p>  
        }
    }

    @if (Model.pModel.CurrentLocationId == Model.pModel.WinningLocationId)
    {
        <a class="btn" asp-page="Endgame">Nic horšího už mě snad nečeká, chce to oraz...</a>
    }
}



